[submodule "src/3rdParty/taglib"]
	path = src/3rdParty/taglib
	url = https://github.com/taglib/taglib.git
[submodule "src\\3rdParty\\UnitTest++"]
	path = src\\3rdParty\\UnitTest++
	url = https://github.com/unittest-cpp/unittest-cpp.git
